UOTP_API_KEY=""
TIGER_API_KEY=""
MEOWSMS_API_KEY=""
GRIZZLY_API_KEY=""
OMKAR_API_KEY=""
SMSPOOL_API_KEY=""
OMKAR_API_KEYS="key1,key2,key3"
TELEGRAM_API_ID=""
TELEGRAM_API_HASH=""
TELEGRAM_TARGET_CHAT=""
TELEGRAM_SESSION_NAME="session_name"
